<div class="container mobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 current-chat">
                <div class="row chat-toolbar-row">
                    <div class="col-sm-12">
                        <div class="btn-group chat-toolbar" role="group" aria-label="...">
                            <button id="chat-invite" class="btn btn-default ticket-option" type="button">
                                <i class="glyphicon glyphicon-plus"></i> Описание
                            </button>
                            <button id="chat-video-connect" class="btn btn-default ticket-option" type="button">
                                <i class="glyphicon glyphicon-camera"></i> Связаться с владельцем
                            </button>
                            <button id="chat-leave" class="btn btn-default ticket-option" type="button" ng-click="leaveChat()">
                                <i class="glyphicon glyphicon-remove-sign"></i> Покинуть чат
                            </button>
                        </div>
                    </div>
                </div>
                <div id="chatArea" class="row current-chat-area">
                    <div class="col-md-12">
                        <ul class="media-list">
                            <li ng-repeat="message in messages" class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <!--<a class="pull-left" href="#">
                                            <img class="media-object img-circle " src="https://app.teamsupport.com/dc/1078/UserAvatar/1839999/48/1470773165634">
                                        </a>-->
                                        <div class="media-body">
                                            {{message.content}}
                                            <br>
                                            <small class="text-muted">{{message.username}} | 23rd June at 5:00pm</small>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row current-chat-footer">
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="message.content">
                            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
                  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>