<div class="container mobile">
    <!--<div class="row">
        <div class="col-xs-10 col-sm-11">
            <div ng-show="isUserOrServiceOrAnonymous()" class="btn_cr create_btn">
                <a href="#" ng-click="createMessage($event)" >Создать чат</a>
            </div>
        </div>
        <div class="col-xs-2 col-sm-1">
            <div request-list-filter type-list="userTypes" status-list="userEvents" filter-action="filterData($item)"></div>
        </div>
    </div>-->
    <!--TODO selected row-->
    <div class="row">
        <div class="chats">
            <div class="row" ng-repeat="chat in chats" ng-class="{'selected' : false}">
                <div class="arrow"></div>
                <div class="col-xs-4 col-md-2">
                    <a  ui-sref="chat({id: chat.id})">{{chat.name}}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 map">
                <ng-map zoom="11" center="[{{latitude}}, {{longitude}}]">
                </ng-map>
            </div>
        </div>
    </div>
</div>